@model Zemoga.BlogEngine.Web.Models.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zemoga Blog Engine</h1>
    <p class="lead">You can find below or latest blog posts...</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p><a href="@Url.Action("Create", "BlogPosts")" class="btn btn-primary btn-lg">Click to create a new post &raquo;</a></p>

    }
</div>

<div class="row">

    @foreach (var item in Model.BlogPosts)
    {
        <div class="col-md-4 post">
            <h2>@item.Title</h2>
            <p>
                @Zemoga.BlogEngine.Resources.Resources.Author: @item.AspNetUser.FullName
            </p>
            <small class="text-muted">@Zemoga.BlogEngine.Resources.Resources.PostedOn: @item.CreatedOn.ToShortDateString()</small>
            <p><a class="btn btn-default" href="@Url.Action("Post", "BlogPosts", new { id = item.Id })">Read more &raquo;</a></p>
        </div>
    }

    
</div>

@section scripts{
    <script src="/js/jquery.matchHeight.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.post').matchHeight();

        });
    </script>
}