@model Zemoga.BlogEngine.Web.Models.Home.PendingForApprovalViewModel

@{
    ViewBag.Title = Zemoga.BlogEngine.Resources.Resources.PendingForApprovalListing;
}

<div class="jumbotron">
    <h1>@Zemoga.BlogEngine.Resources.Resources.PendingForApprovalListing</h1>
    <p class="lead">@Zemoga.BlogEngine.Resources.Resources.PendingForApprovalDescription</p>
    
</div>

<div class="row">

    @if (Model.BlogPosts == null || Model.BlogPosts.Count == 0)
    {
        <div class="alert alert-info">
            @Zemoga.BlogEngine.Resources.Resources.NoResults
        </div>
    }

    @foreach (var item in Model.BlogPosts)
    {
        <div class="col-md-4 post">
            <h2>@item.Title</h2>
            <p>
                @Zemoga.BlogEngine.Resources.Resources.Author: @item.AspNetUser.FullName
            </p>
            <small class="text-muted">@Zemoga.BlogEngine.Resources.Resources.PostedOn: @item.CreatedOn.ToShortDateString()</small>
            <p><a class="btn btn-default" href="@Url.Action("Post", "BlogPosts", new { id = item.Id })">View &raquo;</a></p>
        </div>
    }


</div>

@section scripts{
    <script src="/js/jquery.matchHeight.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.post').matchHeight();

        });
    </script>
}